[Unit]
Description=File Browser Service
After=network.target

[Service]
# 工作目录（可选）
WorkingDirectory=/opt/file-browser

# 启动命令
ExecStart=/opt/file-browser/./file-browser runserver --noreload
PIDFile=/opt/file-browser/file-browser.pid
ExecStartPre=/bin/bash -c 'if [ -f /opt/file-browser/file-browser.pid ]; then kill -9 $(cat /opt/file-browser/file-browser.pid) || true; fi; rm -f /opt/file-browser/file-browser.pid'
ExecStop=/bin/bash -c 'if [ -f /opt/file-browser/file-browser.pid ]; then kill -9 $(cat /opt/file-browser/file-browser.pid) || true; fi'

# 用户和组（可选，根据需要设置）
User=root
Group=root

# 环境变量（如果需要）
Environment="PATH=/usr/local/bin:/usr/bin:/bin"

# 进程守护
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target

